*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f6f8;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/*Header Styles*/
.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 14px;
    color: #666;
}

/*Input Section Styles*/
.input-section {
    display: flex;
    gap: 15px;
}

.input-section input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input-section button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.input-section button:hover {
    background-color: #218838;
}

/*TodoList Styles*/

.todo-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.empty {
    text-align: center;
    color: #888;
}

/*TodoItem Styles*/
.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.todo-item span {
    flex: 1;
    font-size: 16px;
}

.todo-item button {
    padding: 5px 10px;
    background-color: #530a0a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.todo-item button:hover {
    background-color: #555;
}

.todo-item.completed span {
    text-decoration: line-through;
    color: #888;
}



